@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
h1{
    text-align: center;
    font-size: 50px;
    color: green;
    text-shadow: 2px 2px 5px blue;
}
fieldset{
    border-radius: 20px;
    color: purple;
    background-color: lightgrey;
}
legend{
    text-align: center;
    font-size: 40px;
    color:brown;
   
}
table{
    border-color: red;
    border-width: 5px;
   border-style:hidden;
font-size: 20px;
font-weight: bold;
text-align: center;
}
.veg{
    background-color: rgb(220, 195, 135);
}
body{
    font-family: "Dancing Script", cursive;
}

.box1{
    width: 500px;
    height: 500px;
    background-color:green;
    margin: 50px;
}
.box2{
    width: 200px;
    height: 200px;
    background-color:orange;
  padding-right: 80px;
}